<a href="https://colab.research.google.com/github/shashvindu/Pyspark/blob/main/pysaprksetup_testwithretaildata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#sc.stop()

NameError: ignored

In [4]:
'''!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz
!tar xf spark-3.3.0-bin-hadoop3.tgz
!pip install -q findspark
!pip install pyspark  '''

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 52 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 21.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=b60073cfb18fda8b1301bb9243c7ac70ead8899b1392087f3a8858376b471fdf
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
#!wget -q https://dlcdn.apache.org/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz

In [ ]:
from pyspark import SparkContext

In [ ]:
sc=SparkContext()

In [ ]:
a=sc.parallelize([1,2,3])

In [ ]:
a.take(2)

[1, 2]

In [ ]:
sc.stop()

In [ ]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

retails_data_csv = "/content/drive/MyDrive/data/retail-data/by-day/*.csv"

In [ ]:
spark = SparkSession \
    .builder \
    .appName("Basic Dataframe Operations") \
    .config("spark.master", "local") \
    .getOrCreate()

In [ ]:
df = spark.read.format("csv")\
  .option("header", "true")\
  .option("inferSchema", "true")\
  .load(retails_data_csv)\
  .repartition(5)

In [ ]:
df.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   580729|    22492|MINI PAINT SET VI...|       1|2011-12-05 17:24:00|     1.63|      null|United Kingdom|
|   575070|    21756|BATH BUILDING BLO...|       1|2011-11-08 12:58:00|     6.25|   17841.0|United Kingdom|
|   574573|    22945|CHRISTMAS METAL T...|       6|2011-11-04 16:35:00|     0.85|   14592.0|United Kingdom|
|   575911|    35970|ZINC FOLKART SLEI...|      24|2011-11-11 16:13:00|     1.69|   17314.0|United Kingdom|
|   576559|    22360|GLASS JAR ENGLISH...|       1|2011-11-15 13:19:00|     2.95|   14711.0|United Kingdom|
|   569900|    35970|ZINC FOLKART SLEI...|      12|2011-10-06 16:17:00|     1.69|   17651.0|United Kingdom|
|   539453|    21365|MIRRORED WALL ART...|       1|2010-12-17 17:08:00|     5.91|      null|United Kingdom|
|   580959|    22419|    LIPSTICK PEN RED|      12|2011-12-06 14:31:00|     0.42|   14673.0|United Kingdom|
|   578757|    20669|RED HEART LUGGAGE...|       1|2011-11-25 11:41:00|     1.25|   12748.0|United Kingdom|
|   577938|    22975|SPACEBOY CHILDREN...|      12|2011-11-22 12:07:00|     1.25|   15525.0|United Kingdom|
|   580543|    21165|BEWARE OF THE CAT...|      24|2011-12-05 09:11:00|     1.69|   18223.0|United Kingdom|
|   580612|    22698|PINK REGENCY TEAC...|       7|2011-12-05 11:58:00|     5.79|      null|United Kingdom|
|   575960|    23298|      SPOTTY BUNTING|       1|2011-11-13 12:28:00|     4.95|   15429.0|United Kingdom|
|   537435|    22151|PLACE SETTING WHI...|      10|2010-12-06 16:58:00|     0.42|   17920.0|United Kingdom|
|   576339|    23228|FILIGREE HEART BI...|       1|2011-11-14 15:27:00|     2.46|   14096.0|United Kingdom|
|   578270|    20961|STRAWBERRY BATH S...|       3|2011-11-23 13:39:00|     2.46|   14096.0|United Kingdom|
|   537240|    21169|YOU'RE CONFUSING ...|       2|2010-12-06 10:08:00|     4.21|      null|United Kingdom|
|   579777|    21731|RED TOADSTOOL LED...|       3|2011-11-30 15:13:00|     3.29|      null|United Kingdom|
|   578814|    22493|PAINT YOUR OWN CA...|       2|2011-11-25 13:40:00|     1.65|   12748.0|United Kingdom|
|   576071|    22156|HEART DECORATION ...|       3|2011-11-13 16:03:00|     0.85|   18069.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [ ]:
df.rdd.getNumPartitions()

5

In [ ]:
#sql table
df.createOrReplaceTempView("dfTable")

In [ ]:
from pyspark.sql.functions import count, countDistinct, approx_count_distinct
df.select(count("StockCode")).show()

+----------------+
|count(StockCode)|
+----------------+
|          541909|
+----------------+

In [ ]:
df.groupBy("StockCode").count().show()

+---------+-----+
|StockCode|count|
+---------+-----+
|    22596|  274|
|    21249|  119|
|    21894|  135|
|    22121|  141|
|    23318|  391|
|    20868|   46|
|    22728|  810|
|    23459|   21|
|    90022|   21|
|    22254|   61|
|    21259|  296|
|    21452|  200|
|   90210B|    7|
|    90143|   22|
|   90197B|   27|
|    21248|   68|
|    21889|  607|
|   85132b|    9|
|    21331|    8|
|   85115B|    1|
+---------+-----+
only showing top 20 rows

In [ ]:
df.select(countDistinct("StockCode")).show()

+-------------------------+
|count(DISTINCT StockCode)|
+-------------------------+
|                     4070|
+-------------------------+

In [ ]:
df.select(approx_count_distinct("StockCode", 0.1)).show()

+--------------------------------+
|approx_count_distinct(StockCode)|
+--------------------------------+
|                            3364|
+--------------------------------+

In [ ]:
spark.sql("""SELECT count(StockCode),
                    approx_count_distinct(StockCode)
             FROM dfTable""").show()

+----------------+--------------------------------+
|count(StockCode)|approx_count_distinct(StockCode)|
+----------------+--------------------------------+
|          541909|                            3804|
+----------------+--------------------------------+

In [ ]:
sqlc="SELECT count(StockCode), approx_count_distinct(StockCode)  FROM dfTable"
spark.sql(sqlc).show()

+----------------+--------------------------------+
|count(StockCode)|approx_count_distinct(StockCode)|
+----------------+--------------------------------+
|          541909|                            3804|
+----------------+--------------------------------+

In [ ]:
#  Example 2 - first, last, min, max
from pyspark.sql.functions import first, last, min, max

In [ ]:
df.select(first("StockCode"), last("StockCode")).show()

+----------------+---------------+
|first(StockCode)|last(StockCode)|
+----------------+---------------+
|           22148|          21201|
+----------------+---------------+

In [ ]:
df.select(min("Quantity"), max("Quantity")).show()

+-------------+-------------+
|min(Quantity)|max(Quantity)|
+-------------+-------------+
|       -80995|        80995|
+-------------+-------------+

In [ ]:
spark.sql("""SELECT first(StockCode) as first, 
                    last(StockCode) as last,
                    min(Quantity)  as minQty,
                    max(Quantity) as maxQty
             FROM dfTable""").show()

+-----+-----+------+------+
|first| last|minQty|maxQty|
+-----+-----+------+------+
|22578|22641|-80995| 80995|
+-----+-----+------+------+

In [ ]:
#  Example 3 - sum, sumDistinct, avg
from pyspark.sql.functions import sum, sumDistinct, avg

In [ ]:
df.select(sum("Quantity")).show()

+-------------+
|sum(Quantity)|
+-------------+
|      5176450|
+-------------+

In [ ]:
df.select(sumDistinct("Quantity")).show()

+----------------------+
|sum(DISTINCT Quantity)|
+----------------------+
|                 29310|
+----------------------+

In [ ]:
spark.sql("""SELECT sum(Quantity)  as sumQty, 
                    mean(Quantity) as mean
             FROM dfTable""").show()

+-------+----------------+
| sumQty|            mean|
+-------+----------------+
|5176450|9.55224954743324|
+-------+----------------+

In [ ]:
from pyspark.sql.functions import mean, expr

In [ ]:
df.select(
  count("Quantity").alias("total_transactions"),
  sum("Quantity").alias("total_purchases"),
  avg("Quantity").alias("avg_purchases"),
  expr("mean(Quantity)").alias("mean_purchases")) \
.selectExpr(
  "total_purchases/total_transactions",
  "avg_purchases",
  "mean_purchases").show()

+--------------------------------------+----------------+----------------+
|(total_purchases / total_transactions)|   avg_purchases|  mean_purchases|
+--------------------------------------+----------------+----------------+
|                      9.55224954743324|9.55224954743324|9.55224954743324|
+--------------------------------------+----------------+----------------+

In [ ]:
# Example 4 - varience and standard deviation
from pyspark.sql.functions import var_pop, stddev_pop, variance, stddev
from pyspark.sql.functions import var_samp, stddev_samp

In [ ]:
df.select(variance("Quantity"), stddev("Quantity"),
  var_pop("Quantity"), var_samp("Quantity"),
  stddev_pop("Quantity"), stddev_samp("Quantity")).show()

+------------------+---------------------+-----------------+------------------+--------------------+---------------------+
|var_samp(Quantity)|stddev_samp(Quantity)|var_pop(Quantity)|var_samp(Quantity)|stddev_pop(Quantity)|stddev_samp(Quantity)|
+------------------+---------------------+-----------------+------------------+--------------------+---------------------+
| 47559.39140929852|   218.08115785023364|47559.30364660883| 47559.39140929852|  218.08095663447745|   218.08115785023364|
+------------------+---------------------+-----------------+------------------+--------------------+---------------------+

In [ ]:
spark.sql("""SELECT var_pop(Quantity), 
                    var_samp(Quantity),
                    stddev_pop(Quantity), 
                    stddev_samp(Quantity)
             FROM dfTable""").show()

+-----------------+------------------+--------------------+---------------------+
|var_pop(Quantity)|var_samp(Quantity)|stddev_pop(Quantity)|stddev_samp(Quantity)|
+-----------------+------------------+--------------------+---------------------+
|47559.30364660883| 47559.39140929852|  218.08095663447745|   218.08115785023364|
+-----------------+------------------+--------------------+---------------------+

In [ ]:
# Example 5 - skewness & kurtosis
from pyspark.sql.functions import skewness, kurtosis

In [ ]:
df.select(skewness("Quantity"), kurtosis("Quantity")).show()

+--------------------+------------------+
|  skewness(Quantity)|kurtosis(Quantity)|
+--------------------+------------------+
|-0.26407557610430366|119768.05495533711|
+--------------------+------------------+

In [ ]:
spark.sql("SELECT skewness(Quantity), kurtosis(Quantity) FROM dfTable").show()

+--------------------+------------------+
|  skewness(Quantity)|kurtosis(Quantity)|
+--------------------+------------------+
|-0.26407557610430366|119768.05495533711|
+--------------------+------------------+

In [ ]:
# Example 6 - Covariance and Correlation
from pyspark.sql.functions import corr, covar_pop, covar_samp

In [ ]:
df.select(corr("InvoiceNo", "Quantity"), covar_samp("InvoiceNo", "Quantity"),
    covar_pop("InvoiceNo", "Quantity")).show()

+-------------------------+-------------------------------+------------------------------+
|corr(InvoiceNo, Quantity)|covar_samp(InvoiceNo, Quantity)|covar_pop(InvoiceNo, Quantity)|
+-------------------------+-------------------------------+------------------------------+
|     4.912186085633174E-4|             1052.7280543896418|            1052.7260778735376|
+-------------------------+-------------------------------+------------------------------+

In [ ]:
spark.sql("""SELECT corr(InvoiceNo, Quantity), 
                        covar_samp(InvoiceNo, Quantity),
                        covar_pop(InvoiceNo, Quantity)
                  FROM dfTable""").show()

+-------------------------+-------------------------------+------------------------------+
|corr(InvoiceNo, Quantity)|covar_samp(InvoiceNo, Quantity)|covar_pop(InvoiceNo, Quantity)|
+-------------------------+-------------------------------+------------------------------+
|     4.912186085633174E-4|             1052.7280543896418|            1052.7260778735376|
+-------------------------+-------------------------------+------------------------------+

In [ ]:
#- Example 7 - Aggregation on Collections
from pyspark.sql.functions import collect_set, collect_list

In [ ]:

df.agg(collect_set("Country"), collect_list("Country")).show()

+--------------------+---------------------+
|collect_set(Country)|collect_list(Country)|
+--------------------+---------------------+
|[Portugal, Italy,...| [Switzerland, Swi...|
+--------------------+---------------------+

In [ ]:
spark.sql("SELECT collect_set(Country), collect_list(Country) FROM dfTable") \
     .show()

+--------------------+---------------------+
|collect_set(Country)|collect_list(Country)|
+--------------------+---------------------+
|[Portugal, Italy,...| [Switzerland, Swi...|
+--------------------+---------------------+

In [ ]:
#  Example 8 - Grouping
from pyspark.sql.functions import count, sum
df.groupBy("InvoiceNo", "CustomerId").count().show()

+---------+----------+-----+
|InvoiceNo|CustomerId|count|
+---------+----------+-----+
|   575753|   17841.0|   80|
|   580657|   14696.0|   20|
|   581474|   12748.0|   24|
|   570413|   17652.0|   18|
|   579062|   17651.0|   16|
|   576357|   15660.0|   18|
|  C579018|   16678.0|    1|
|   576641|   17549.0|    4|
|   580090|   13323.0|    5|
|   577338|   17650.0|    8|
|   574138|   12415.0|    5|
|   577783|   18139.0|   35|
|   581020|   17511.0|   40|
|   572703|   16110.0|  154|
|  C538084|   12649.0|    2|
|   568895|   15356.0|   54|
|  C577375|   14441.0|    2|
|   568670|   14978.0|   38|
|   580138|   13199.0|    3|
|   575220|   17511.0|   14|
+---------+----------+-----+
only showing top 20 rows

In [ ]:
df.groupBy("InvoiceNo").agg(
    count("Quantity").alias("quan"),
    expr("count(Quantity)"))\
   .show()

+---------+----+---------------+
|InvoiceNo|quan|count(Quantity)|
+---------+----+---------------+
|   575961|  13|             13|
|   575671|  20|             20|
|   577511|  46|             46|
|   576059|  44|             44|
|   550469|  31|             31|
|   577022|  38|             38|
|   576112|  20|             20|
|   569823|  69|             69|
|   578292|  72|             72|
|   575091|  38|             38|
|   577541|  21|             21|
|   536596|   6|              6|
|   574592|   8|              8|
|   578057|  28|             28|
|   578459|   8|              8|
|   580906|   4|              4|
|   567695|   1|              1|
|   537252|   1|              1|
|   570281|   3|              3|
|   570264|   1|              1|
+---------+----+---------------+
only showing top 20 rows

In [ ]:
df.groupBy("InvoiceNo").agg(
    expr("avg(Quantity)"),expr("sum(Quantity)"),expr("stddev_pop(Quantity)"))\
  .show()

+---------+------------------+-------------+--------------------+
|InvoiceNo|     avg(Quantity)|sum(Quantity)|stddev_pop(Quantity)|
+---------+------------------+-------------+--------------------+
|   575961| 2.769230769230769|           36|  1.5268794800984007|
|   575671|             16.65|          333|  12.141972656862638|
|   577511|3.1739130434782608|          146|   5.402512892872719|
|   576059|2.8181818181818183|          124|   5.223516436936151|
|   550469| 5.129032258064516|          159|   8.838121007003883|
|   577022| 5.131578947368421|          195|  2.9034557688489158|
|   576112|              10.9|          218|   7.495998932764064|
|   569823|1.4782608695652173|          102|  0.9869980199409519|
|   578292| 5.902777777777778|          425|    8.75937548861888|
|   575091|11.552631578947368|          439|   5.008925551458656|
|   577541| 9.333333333333334|          196|    9.18245393767158|
|   536596|               1.5|            9|   1.118033988749895|
|   574592|              7.25|           58|  4.4651427748729375|
|   578057| 4.607142857142857|          129|   8.755974636597271|
|   578459|              28.0|          224|  25.999999999999996|
|   580906|              27.0|          108|  13.076696830622021|
|   567695|             -42.0|          -42|                 0.0|
|   537252|              31.0|           31|                 0.0|
|   570281|              48.0|          144|                 0.0|
|   570264|             -22.0|          -22|                 0.0|
+---------+------------------+-------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, to_date

In [ ]:
dfWithDate = df.withColumn("date", to_date(col("InvoiceDate"), "MM/d/yyyy H:mm"))

In [ ]:
dfWithDate.createOrReplaceTempView("dfWithDate")
spark.sql("SELECT InvoiceDate, date FROM dfWithDate").show()

+-------------------+----------+
|        InvoiceDate|      date|
+-------------------+----------+
|2010-12-01 16:15:00|2010-12-01|
|2011-12-08 15:49:00|2011-12-08|
|2011-12-08 15:49:00|2011-12-08|
|2011-11-11 12:02:00|2011-11-11|
|2011-11-11 12:02:00|2011-11-11|
|2011-11-11 12:02:00|2011-11-11|
|2011-11-11 12:02:00|2011-11-11|
|2011-11-11 12:02:00|2011-11-11|
|2011-11-11 12:02:00|2011-11-11|
|2011-11-11 12:02:00|2011-11-11|
|2011-11-23 10:23:00|2011-11-23|
|2011-11-23 10:23:00|2011-11-23|
|2011-11-23 10:23:00|2011-11-23|
|2011-11-23 10:23:00|2011-11-23|
|2011-11-30 12:16:00|2011-11-30|
|2011-11-30 12:16:00|2011-11-30|
|2011-11-30 12:16:00|2011-11-30|
|2011-11-30 12:16:00|2011-11-30|
|2011-11-30 12:16:00|2011-11-30|
|2011-11-30 12:16:00|2011-11-30|
+-------------------+----------+
only showing top 20 rows